<blockquote class="quotes">
    <p class="quotes__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit ullam illo officia voluptatem nisi eveniet velit veniam, porro nam. Impedit!</p>
    <!-- footer of this part of the code not the hole page -->
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quotes__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="madia__body">
                <!-- i wrote different class for line svg -->
                <h3 class="media__title quotes__author">John Smith</h3>
            <p class="quotes__organization">ABC Company</p>
            </div>
        </div>
    </footer>
</blockquote>